<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="acitivies">

<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MyApplication">

    <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

    </activity>
    <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
    </activity>

    <activity android:name=".DashBoardActivity"
              android:label="@string/title_activity_dash_board"
              android:theme="@style/Theme.MyApplication.NoActionBar">
    </activity>

    <activity android:name=".ProfileActivity"
              android:label="@string/title_activity_dash_board"
              android:theme="@style/Theme.MyApplication.NoActionBar">
    </activity>

</application>
</manifest>

