<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="activities">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MyApplication">

    <activity
            android:name="activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity
            android:name="activities.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
    </activity>
    <activity
            android:name="activities.UCheckQuestionnaireActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">

    </activity>

    <activity android:name="activities.DashBoardActivity"
              android:label="@string/title_activity_dash_board"
              android:theme="@style/Theme.MyApplication.NoActionBar">


    </activity>

    <activity android:name="activities.ProfileActivity"
              android:label="@string/title_activity_dash_board"
              android:theme="@style/Theme.MyApplication.NoActionBar">

    </activity>

    <activity android:name="activities.FacilityActivity"
              android:label="@string/title_activity_dash_board"
              android:theme="@style/Theme.MyApplication.NoActionBar">
    </activity>
    <activity android:name="activities.UpdatePasswordActivity"
              android:label="@string/title_activity_dash_board"
              android:theme="@style/Theme.MyApplication.NoActionBar">
    </activity>
    <activity android:name="activities.UCheckScrollingActivity"
              android:label="@string/title_activity_ucheck_scrolling"
              android:theme="@style/Theme.MyApplication.NoActionBar">

    </activity>
</application>
</manifest>